

* {
    margin: 0;
    padding: 0;
  }
  body {
    background: url("https://wallpaperaccess.com/full/885560.jpg");
    cursor: url(/Cursores/Ligthsabers/Color\ saber.cur), pointer; 
    
    
  }

  